.title {font-size: 200%; padding: 0.3em; text-align: center;}
#output{width:600px; height:300px;/*cols:60;rows:5;*/}
.group:hover{background-color: pink;}
.group{width:300px;}
 
input[type=text]{background-color:rgba(230, 168, 215, 0.4); width:400px; height:70px; text-align: center; font-size: 60px; font-family:"Courier New";}
select{background-color:rgba(230, 168, 215, 0.4); width:400px; height:70px; text-align: center; font-size: 60px; font-family:"Courier New";}
body {
	
background-image:url(https://avatanplus.com/files/resources/mid/5774cbddf03b9155a03c5b20.png);
 background-color: rgba(153, 50, 204, 0.1) ; 
}
/*
#x3dd{
	
	background: #E6A8D7; 
}*/
#x3dd {

        background:##cc99e6;
    }
